name: check links

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: "0 0 * * 0" # 毎週日曜日に実行
  workflow_dispatch:

jobs:
  check:
    name: check markdown links
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: check links
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: "yes"
          config-file: ".github/markdown-link-check-config.json"
